*{
  padding: 0;
  margin: 0;
  font-family: "Roboto",sans-serif;
}

.header{
  color: white;
  background-color:  #1f2837;
  justify-content: space-between;
  align-items: center;
  
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 155px;
  margin-right: 155px;
  padding-top: 15px;
}

.list-text{
  flex-flow: row;
}


ul{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;  
  gap: 16px;
}

.container1{
  display:flex ;
  align-items: center;
  justify-content: space-between;
  
}

a{ 
  text-decoration: none;
  color:white
}

.title{
  font-size: 48px;
  color: #f9fafb;

}
.headerbody{
  display: flex;
  margin-left: 125px;
  margin-right: 110px;
  justify-content: space-between;
  padding: 50px;
}

.img{
  max-height: 200px;
  margin-top: 80px;
}

button{
  background-color: #3882f6;
  color: white;
 width: 75px;
 height: 25px;
  border-radius: 8px;
}

#header-img{
  width: 60px;
}
.header2{
  background-color: white;
  padding: 50px;
}
.container2{
  display: flex;
  align-items: center;
  justify-content: space-between;
 flex-direction: column; 
 
}
.trueno{
  text-align: center;

}
.games{
  text-align: center;
  margin-bottom: 50px;
}
.text-mago{
text-align: center;
}

.supp{
  object-fit: cover;
  border-radius: 10px;
  border: #3882f6 solid 5px;
  width: 200px;
  height: 200px;
}

.tex-img{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-left: 175px;
  margin-right: 175px;
}
.t1{
  align-self: center;
  text-align: center;
}
.header3{
  background-color: #e5e7eb;
  height: 380px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}
h2{
  color: #1f2937;
  font-size: 36px;
}
h3{
  
  font-size: 36px;
  margin-left: 150px;
}
 
.header4{
  background-color: white;
  padding: 90px;
}
.container-blue{
  background-color: #3882f6;
  border-radius: 10px;
  padding: 50px;
  margin: 10px;
  display: flex;
  gap: 200px;
  justify-content: space-around;
}
.header5{
  background-color: #1f2837;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100px;
  display: flex;
  padding: auto;
}
.button-1{
  height: 20px;
  align-self: center;
}
.text-blue{
  color: white;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}
.p2{
  color: white;
}
.title-champions{
text-align: left;
margin: 0;
}
.title{
display: flex;
}
.sing-up{
  border:white solid 2px;
  border-radius: 5px;
  justify-content: flex-end;
  align-items: center;
}

.title{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.titulo{
margin-top: 80px;
font-size: 48px;
}

.letras{
  text-decoration: #E5E7EB;
 font-size: 18px;
}

.tacos{
  font-style: italic;
}